[toolchain]
anchor_version = "0.30.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
fossr = "93KPeH4wk9VQGrcAhabXn4EcnaGbTo5JxkwMB2We8Meo"

[programs.devnet]
fossr = "93KPeH4wk9VQGrcAhabXn4EcnaGbTo5JxkwMB2We8Meo"

[programs.mainnet]
fossr = "93KPeH4wk9VQGrcAhabXn4EcnaGbTo5JxkwMB2We8Meo"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "https://api.devnet.solana.com"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
